html, body {
    height: 100%;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  #chat {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  input {
    width: 80%;
    border: 1px solid #ddd;
    height: 50px;
    padding: 0 20px;
    font-size: 14px;
  }
  
  button {
    width: 80%;
    height: 50px;
    font-size: 14px;
    background: #069;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    color: #FFF;
    margin-top: 10px;
  }
  
  .messages {
    width: 80%;
    height: 70%;
    margin: 2px 0;
    border: 1px solid #ddd;
    padding: 20px;
    overflow:auto;
    overflow-x:hidden;
  }

  .messageEnviada {
    display: flex; 
    justify-content: flex-end;
  }

  .message {
    background-color: greenyellow;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 50px;
    margin-bottom: 5px;
    padding: 8px;
    display:inline-block;
    word-wrap: break-word;
  }
  .messageImg {
    background-color: greenyellow;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 50px;
    margin-bottom: 5px;
    padding: 3px;
    display:inline-block;
    word-wrap: break-word;
  }
  

  .novoUsuario {
    text-align: center;
    background-color: lightblue;
    width: 100px;
  	margin: 20px auto;
    border-radius: 25px;
  }

  .pessoasConectadas, .pessoasDigitando{
    width: 80%;
    font-size: 15px;
    padding: 2px;
    margin:0;
    text-align: left;
  }

  .img{
    max-height: 250px;
    max-width: 250px;
  }